

<section class="ui raised segment">

    <div class="ui grid">

            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Submitted By</th>
                    <th>Entry Fee</th>
                    <th>View POI</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each pois}}
                    <tr>

                        <td> {{attractionType}} </td>
                        <td> {{attractionName}} </td>
                        <td> {{poi.firstName}} {{poi.lastName}} </td>
                        <td> {{admission.admissionFee}}</td>
                        <td> <a href="/poi/viewPoi{{_id}}"><i class="plus icon"></i></a></td>
                        <td> <a href="/poi/showPoiSettings{{_id}}"> <i class="edit outline icon"></i> </a></td>
                        <td> <a href="/poi/deletePoi{{_id}}"> <i class="trash red alternate outline icon"></i> </a> </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>

    </div>
</section>