{{> mainmenu }}

<section class="ui stacked segment">

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="ui segment">

            <div class="ui internally celled grid">
                <div class="row">
                    <div class="one wide column">
                        <img>
                    </div>

                    <div class="eight wide column">
                        <div class="field">
                            <b><i>Category</i></b></br>
                            {{poi.attractionType}}
                        </div>
                        </br>
                        <div class="field">

                            <b><i>Name</i></b></br>
                            <p>{{poi.attractionName}}</p>
                        </div>
                        </br>
                        <div class="field">
                            <b><i>Description</i></b></br>
                            <p>{{poi.description}}</p>
                        </div>
                        </br>
                        <div class="field">
                            <b><i>Location</i></b></br>
                            Latitude: {{poi.latitude}}</br>
                            Longitude: {{poi.longitude}}
                        </div>
                        </br>
                        <div class="field">
                            <b><i>Editor</i></b></br>
                            <p> {{poi.poi.firstName}} {{poi.poi.lastName}}</p>
                        </div>
                        </br>
                        <div class="field">
                            <b><i>Entry Fee</i></b></br>
                            <p>{{poi.admission.admissionFee}}</p>
                        </div>
                    </br>

                        <div class="fb-share-button"
                             data-href="https://www.your-domain.com/your-page.html"
                             data-layout="button_count">
                        </div>

                    </div>

                    <div class="seven wide column">
                        <div class="field">
                            <b><i>Image</i></b></br>
                            <img src="/images/mountainsMahonFalls.jpg" class="ui large image">
                        </div>
                        <img>

                        <div class="ui center aligned segment">
                            {{> uploadimage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{> reviewreport }}
    {{> review}}
</section>

